@model MyProject.SanPham

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

<div class="container">
    @using (Html.BeginForm()) { 
        <h2 class="text-center lead mb-3 font-weight-bold" style="font-size: 36px; text-shadow: 0 0 8px rgba(0,0,0,0.2)" data-aos="flip-right">Sửa thông tin sản phẩm</h2>
        <div class="form-group">
            <p>Tên sản phẩm</p>
            @Html.TextBoxFor(model => model.TenSP, new { @class = "form-control", htmlAttributes = new { @name = "tenSP" } })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Mô tả</p>
            @Html.TextBoxFor(model => model.MoTa, new { @class = "form-control", htmlAttributes = new { @name = "moTa" } })
            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Giá bán</p>
            @Html.TextBoxFor(model => model.GiaBan, new { @class = "form-control", htmlAttributes = new { @name = "giaBan" } })
            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Giá nhập</p>
            @Html.TextBoxFor(model => model.GiaNhap, new { @class = "form-control", htmlAttributes = new { @name = "giaNhap" } })
            @Html.ValidationMessageFor(model => model.GiaNhap, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Sản phẩm dành cho</p>
            @Html.DropDownListFor(model => model.GioiTinh, new List<SelectListItem> { new SelectListItem { Text = "Nam", Value = "Nam", Selected = true }, new SelectListItem { Text = "Nữ", Value = "Nữ" } }, new { @class = "form-control", htmlAttributes = new { @name = "gioiTinh" } })
            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Tên loại sản phẩm</p>
            @Html.DropDownListFor(model => model.MaLoaiSP, null, "Loại sản phẩm", new { @class = "form-control", htmlAttributes = new { @name = "maLoaiSP" } })
            @Html.ValidationMessageFor(model => model.MaLoaiSP, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Tên nhà cung cấp</p>
            @Html.DropDownListFor(model => model.MaNCC, null, "Tên nhà cung cấp", new { @class = "form-control",htmlAttributes = new { @name = "maNCC" } })
            @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Số lượng tồn</p>
            @Html.TextBoxFor(model => model.SoLuongTon, new { @class = "form-control", htmlAttributes = new { @name = "soLuongTon" } })
            @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p>Hình ảnh</p>
            @Html.TextBoxFor(model => model.Anh, new { @class = "form-control", type = "file", htmlAttributes = new { @name = "anh" } })
            @Html.ValidationMessageFor(model => model.Anh)
        </div>
        <div class="text-center">
            <button class="btn btn-outline-danger" type="submit" style="letter-spacing: 1px;">
                Sửa sản phẩm
            </button>
        </div>
    }
</div>

